#progBarWrapper {
    padding-top:0px;
}

.progress {
    height: .2rem;
    padding: 0px;
    margin: 0px;
    margin-left: auto; 
    margin-right:auto;
}

h2{
    padding:0;
    margin:0;
}

h1{
    padding-bottom: 15px;
    text-align: center;
}

.card {
    margin-left: auto; 
    margin-right:auto;
    height:50%px;
    width:50%;
}

#answers {
    padding-top:30px;
    display: flex;
    justify-content: space-between;

}